*.py[cod]
*.sh
*.sql
.project
.pydevproject
.settings
.coverage
edc/db.sqlite3
edc/*/migrations/*
edc/*/*/*/migrations/*
edc/*/*/migrations/*
keys
south.log
*.bz2
.DS_Store
pylint.rc
__pycache__/*
edc.egg-info/*
user-*
test-*
