{% extends "base_bhp_map.html" %}
{% load url from future %}

{% block content %}
    {% if mapper_names %}
        <div id="section_navbar">
        <ul>
        {% for mapper_name in mapper_names %}
         <li><a href="{% url "selected_map_index_url" mapper_name %}">{{ mapper_name }} maps</a>
        {% endfor %}
        </ul>
        </div>
    {% else %}
    
    	<H1>{{ file_to_gps }} Coordinates dispatched to GPS receiver</H1>
    	<div id="section_navbar">
    		<li><a href="{% url "selected_map_index_url" mapper_name %}">{{ mapper_name }} maps</a></li>
		</div>
	{% endif %}	
{% endblock content %}