<div class="results">
      <table  cellspacing="0" id="result_list" border=1>
    	<thead>
			<tr>
     	<th>Netbook</th>
     	<th>User</th>     	
     	<th>Assigned</th>     	     	
     	<th>Revoked</th>     	     	
    	<th>Make</th>     	
    	<th>Model</th>
    	<th>S/N</th>
    	<th>Purchased</th>    	
        <th>User Created</th>
    	<th>Created</th>
    	<th>Modified</th>    	
   	</thead>	
      {% for netbookuser in search_results.object_list %}
           <tr class="{% cycle 'row1' 'row2' %}">
              <td><a href="/admin{{ netbookuser.netbook.get_absolute_url }}">{{ netbookuser.netbook.name }}</A></td>
              <td><a href="/admin{{ netbookuser.get_absolute_url }}">{{ netbookuser.user.first_name }}</A></td>
        	  <td>{{ netbookuser.start_date|date:"d M Y" }}</td>
        	  <td>{{ netbookuser.end_date|date:"d M Y" }}</td>           	                        	             	                
        	  <td>{{ netbookuser.netbook.make }}</td>           	  
        	  <td>{{ netbookuser.netbook.model }}</td>           	          	    	  
        	  <td>{{ netbookuser.netbook.serial_number }}</td>           	          	  
        	  <td>{{ netbookuser.netbook.date_purchased|date:"d M Y" }}</td>           	  
        	  <td>{{ netbookuser.user_created }}</td>
        	  <td>{{ netbookuser.created|date:"d M Y H:i" }}</td>
        	  <td>{{ netbookuser.modified|date:"d M Y H:i" }}</td>        	  
            </tr>
      {% endfor %}
      
      <tr><td colspan="9">{{ search_results.object_list.count }} result{{ search_results.object_list|pluralize }} found.</td></tr>
      </table>
      </div>
