{% extends "base_map.html" %}
{% load url from future %}

{% block mapping %}
	<H3>{{ item_label }} Map</H3>
	{% if show_map == 1 %}
		{% if option == 'plot' %}
			{% if not has_items %}
				<script language="javascript" type="text/javascript" defer> alert('Oops! No {{ item_label }} found. Try broadening your search');
				window.location.replace('{% url "selected_map_index_url" maper_name %}')
				</script>
			{% endif %}
		{% endif %}
	
	    <table align="center">
	    	<tr>
		    	<td>
			    <H4> Instructions</H4>
			    <ol>
			    <li>Choose the icon you want used for markers</li>
			    <li>(optional) Click on a marker to view information about a {{ item_label }}</li>
			    <li>Draw a polygon around the {{item_label}}s to select; </li>
			    <li>
			    	<ul>
			    		<li>Right click on the map and click to the first point to close the polygon</li>
			            <li>Remove a marker by right clicking on it</li>
			            <li>Add a marker by right clicking on the polygon line and dragging the marker to stretch the shape of the polygon</li>
			         </ul>
			    </li>
			    <li>Click the save button</li>
			    <li>Once the data is sent, you can choose to continue selecting more {{item_label}}s or checkout the ones you have selected already.
			    
			    </li>
			    </ol>
			    </td>
		    </tr>
		    <tr><td><div align="center" id="map"></div></td></tr>
		</table>
		
	    <table align="center">
	    	<input type="hidden" value="{{ selected_region }}"  id="{{ item_region_field }}" name="{{ item_region_field }}" />
	    	<input type="hidden" value="yes"  id="sec" name="sec" />
	    	<tr valign="middle">
	    		<td>
			    	<button id="save_map_selection" disabled="disabled">Save</button> 
			    	<button id="revert_map" disabled="disabled">Revert</button> 
			    	<button id="clear_map">Clear</button> 
			    	<b>Select section:</b>
					<select id="{{ item_region_field }}" name="{{ item_region_field }">
					<!-- loop though the region dictionary from a view to list all sections -->
					{% for region in regions %}
					  <option value="{{ region }}">{{ region }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
		    	
	      </table>
	{% endif %}
	
{% endblock mapping %}
      