{% extends "base_section.html"%}
{% load admin_urls %}
{% load url from future %}

{% block section_title%}<H5>Site Administration</H5>{%endblock%}
{% block section_links %}
<ul>
<li><A href="/admin/">All sections</A>
</ul>

<H5>Users and settings</H5>
<ul>
<li><A href="/admin/auth/user/">User Management</A>
<li><A href="/admin/auth/group/">Group Management</A>
<li><A href="/edc/bhp_variables/studyspecific/">Study Specific Variables</A>
</ul>

{% if 'edc.device.sync' in installed_apps and edc.device.dispatch not in installed_apps %}
<H5>Device Synchronization</H5>
<ul>
<li><A href="/dispatch/{{app_name}}/sync/">Synchronize devices with Community Server (Return)</A></li>
<li><A href="/bhp_sync/usb_dump/{{app_name}}/">Dump transactions to USB device</A> (Insert the USB device first)</li>
</ul>
{% endif %}

{%  if 'edc.device.sync' in installed_apps and 'edc.device.dispatch' in installed_apps %}
<H5>Device Dispatch</H5>
<ul>
<li><A href="/admin/bcpp_household/plot/">Dispatch data to netbooks</A>
  {% if 'edc.map' in installed_apps %}
    <li><A href="{% url 'map_index_url' %}">Dispatch data to devices by Map</A>
  {% endif %}
  {%if 'apps.bcpp_household' in installed_apps%}
  	<li><A href="{% url "replace_data_url" %}">Replace data on netbooks</A>
  {% endif %}
</ul>
{% endif %}

{% if 'edc.core.bhp_birt_reports' in installed_apps %}
<H5>Reports</H5>
<ul>
<li><A href="/reports/list/">Generate a Report</A></li>
</ul>
{% endif %}

{% if 'edc.device.inspector' in installed_apps %}
<H5>Node Inspection Of Synced Transactions</H5>
<ul>
<li><A href="/admin/{{app_name}}_inspector/">Inspect Models</A></li>
</ul>
{% endif %}

{% if 'edc.lab.lab_clinic_api' in installed_apps %}
<H5>Lab</H5>
<ul>
<li><A href="/admin/{{protocol_lab_section}}/">Requisitions, Aliquots and Packing Lists</A></li>
<li><A href="/admin/lab_clinic_api/">Results</A></li>
{% if 'lis.labeling' in installed_apps %}
<li><A href="/admin/labeling/">Label Printers and Templates</A></li>
{% endif %}
</ul>
{% endif %}



{% if 'edc.core.ph_dispenser' in installed_apps %}
<h5>Pharmacy</h5>
<ul>
<li><A href="/admin/ph_dispenser/">Dispensings</A>
</ul>
{% endif %}

{% if 'edc.subject.visit_schedule' in installed_apps%}
    <h5>Data Collection Schedule</h5>
    <ul>
        <li><A href="{% url 'admin:visit_schedule_membershipform_changelist' %}">Membership forms</A>
        <li><A href="{% url 'admin:visit_schedule_schedulegroup_changelist' %}">Schedule groups</A>
        <li><A href="{% url 'admin:visit_schedule_visitdefinition_changelist' %}">Visit definitions</A>
        <li><A href="{% url 'admin:entry_meta_data_scheduledentrymetadata_changelist' %}">Scheduled Entry meta data</A>
        <li><A href="{% url 'admin:entry_meta_data_requisitionmetadata_changelist' %}">Requisition meta data</A>
        <li><A href="{% url 'admin:entry_entry_changelist' %}">Entry</A>
        <li><A href="{% url 'admin:entry_labentry_changelist' %}">Lab Entry</A> and <A href="{% url 'admin:lab_clinic_api_panel_changelist' %}">Panels</A>
    </ul>
{% endif %}

{% if 'edc.import' in installed_apps%}
    <h5>Import Data</h5>
    <ul>
        <li><A href="{% url 'admin:import_uploadtransactionfile_changelist' %}">Upload transaction file</A>
        <li><A href="{% url 'admin:import_uploadexportreceiptfile_changelist' %}">Upload export receipt file</A>
    </ul>
{% endif %}

{% if 'edc.export' in installed_apps%}
    <h5>Export Data</h5>
    <ul>
        <li><A href="{% url 'admin:export_exporthistory_changelist' %}">Export History</A>
        <li><A href="{% url 'admin:export_exporttransaction_changelist' %}">Export Transactions</A>
        <li><A href="{% url 'admin:testing_exporttest_changelist' %}">Export Test Model</A>
    </ul>
{% endif %}

{% endblock %}

{% block other_section_links %}{% endblock %}
