{% extends "base_section.html"%}
{% load admin_urls %}
{% load url from future %}

{% block section_title%}<H5>Site Administration</H5>{%endblock%}
{% block section_links %}
<ul>
<li><A href="/admin/">All sections</A>
</ul>

<H5>Users and settings</H5>
<ul>
<li><A href="/admin/auth/user/">User Management</A>
<li><A href="/admin/auth/group/">Group Management</A>
<li><A href="/edc/bhp_variables/studyspecific/">Study Specific Variables</A>
</ul>

{% if 'edc.device.sync' in installed_apps and edc.device.dispatch not in installed_apps %}
<H5>Device Synchronization</H5>
<ul>
<li><A href="/dispatch/{{app_name}}/sync/">Synchronize devices with Community Server (Return)</A></li>
<li><A href="/bhp_sync/usb_dump/{{app_name}}/">Dump transactions to USB device</A></li>
</ul>
{% endif %}

{%  if 'edc.device.sync' in installed_apps and 'edc.device.dispatch' in installed_apps %}
<H5>Device Dispatch</H5>
<ul>
<li><A href="/admin/bcpp_household/plot/">Dispatch data to netbooks</A>
  {% if 'edc.map' in installed_apps %}
    <li><A href="{% url 'map_index_url' %}">Dispatch data to devices by Map</A>
  {% endif %}
</ul>
{% endif %}

{% if 'edc.core.bhp_birt_reports' in installed_apps %}
<H5>Reports</H5>
<ul>
<li><A href="/admin/bhp_birt_reports/basereport/">Generate a Report</A></li>
</ul>
{% endif %}

{% if 'edc.device.inspector' in installed_apps %}
<H5>Node Inspection Of Synced Trasanctions</H5>
<ul>
<li><A href="/admin/{{app_name}}_inspector/">Inspect Models</A></li>
</ul>
{% endif %}

{% if 'edc.lab.lab_clinic_api' in installed_apps %}
<H5>Lab</H5>
<ul>
<li><A href="/admin/{{app_name}}_lab/">Requisitions and Packing Lists</A></li>
<li><A href="/admin/lab_clinic_api/">Results</A></li>
</ul>
{% endif %}

{% if 'edc.core.ph_dispenser' in installed_apps %}
<h5>Pharmacy</h5>
<ul>
<li><A href="/admin/ph_dispenser/">Dispensings</A>
</ul>
{% endif %}

{% endblock %}

{% block other_section_links %}{% endblock %}
