{% extends "base_bhp_map.html" %}
{% load url from future %}
{% block extrahead %}
<script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>
<script src="{{ STATIC_URL }}js/infobox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/infobox_packed.js" type="text/javascript"></script>
<meta http-equiv="content" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	document.write('<script type="text/javascript" src="{{ STATIC_URL }}/js/snapshotcontrol' + (document.location.search.indexOf('packed') > -1 ? '_packed' : '') + '.js"><' + '/script>');
</script>
<script type="text/javascript">
var map;
var landpoints = new Array();
var x = 0;
{% for place, lat, lon in landmarks %}
	landpoints.push(["{{ place }}", {{ lat }}, {{ lon }}, x+1]);
{% endfor %}

var point = new google.maps.LatLng({{ lat }}, {{ lon }});

//function called Initialize the map when loading the browser
function initialize() {
		
    //create map object
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: point,
        mapTypeId: google.maps.MapTypeId.SATELLITE
    });
    geocoder = new google.maps.Geocoder();
    
    var marker = new google.maps.Marker({
    			position: point,
    			title: "click for labels information",
    			animation: google.maps.Animation.BOUNCE,
    			map: map,			
    		});
   
    setLandMarks(map, landpoints);
    
	
} //initialze


function setLandMarks(map, locations) {
	 // Add markers to the map
	 
	 // Marker sizes are expressed as a Size of X,Y
	 // where the origin of the image (0,0) is located
	 // in the top left of the image.
	 
	 // Origins, anchor positions and coordinates of the marker
	 // increase in the X direction to the right and in
	 // the Y direction down.
	 var image = new google.maps.MarkerImage('http://maps.google.com/mapfiles/arrow.png', // This marker is 20 pixels wide by 32 pixels tall.
	 new google.maps.Size(35, 40), // The origin for this image is 0,0.
	 new google.maps.Point(0, 0), // The anchor for this image is the base of the flagpole at 0,32.
	 new google.maps.Point(0, 32));
	 var shadow = new google.maps.MarkerImage('http://goo.gl/g1PTn', // The shadow image is larger in the horizontal dimension
	 // while the position and offset are the same as for the main image.
	 new google.maps.Size(37, 32), new google.maps.Point(0, 0), new google.maps.Point(0, 32));
	 // Shapes define the clickable region of the icon.
	 // The type defines an HTML &lt;area&gt; element 'poly' which
	 // traces out a polygon as a series of X,Y points. The final
	 // coordinate closes the poly by connecting to the first
	 // coordinate.
	 var shape = {
	   coord: [1, 1, 1, 20, 18, 20, 18, 1],
	   type: 'poly'
	 };
	 for (var i = 0; i < locations.length; i++) {
	   var beach = locations[i];
	   var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
	   var marker = new google.maps.Marker({
	     position: myLatLng,
	     map: map,
	     shadow: shadow,
	     icon: image,
	     shape: shape,
	     title: beach[0],
	     zIndex: beach[3]
	   });
	   
	   var boxText = document.createElement("div");
	       boxText.style.cssText = "border: 0px solid black; margin-top: 8px; background: white; padding: 3px;";
	       boxText.innerHTML = beach[0];
	               
	   var myOptions = {
	            content: boxText
	           ,disableAutoPan: false
	           ,maxWidth: 0
	           ,pixelOffset: new google.maps.Size(-140, 0)
	           ,zIndex: null
	           ,boxStyle: { 
	             background: "url('tipbox.gif') no-repeat"
	             ,opacity: 0.53
	             ,width: "280px"
	            }
	           ,closeBoxMargin: "8px 2px 2px 2px"
	           ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
	           ,infoBoxClearance: new google.maps.Size(1, 1)
	           ,isHidden: false
	           ,pane: "floatPane"
	           ,enableEventPropagation: false
	   };
	   var ib = new InfoBox(myOptions);
	   ib.open(map, marker);
	}
}

</script>
{% endblock%}

{% block bodyclass %} {{block.super}}" onload="initialize() {% endblock %}

{% block content %}

<table>
	{% if item_map %}
		{% if not map %}
			<tr valign="top"><td><img src="{% url "blob_attach_url" mapper_name identifier map %}" alt="item map" width="800" height="450"></td></tr><tr>
		{% else %}
			<tr valign="top"><td><img src="{% url "blob_attach_url" mapper_name identifier map %}" alt="item map" width="800" height="450"></td></tr>
		{% endif %}
		<td>Key <A href="{% url 'item_map_url' mapper_name identifier lon lat %}/?map=1">(zoom level 18)</A>
				<A href="{% url 'item_map_url' mapper_name identifier lon lat %}/?map=2">(zoom level 17)</A>
				<A href="{% url 'item_map_url' mapper_name identifier lon lat %}/?map=3">(zoom level 16)</A>
		</td></tr>
		<tr><td>label</td><td>Landmark</td></tr>
		{% for key, value in markers_l.items %}
			<tr><td width:400px; >{{ key }}</td><td width:10px; >{{ value }}</td></tr>
		{% endfor %}
	{% else %}
		<tr valign="top"><td><div id="map" style="width: 800px; height: 450px"></div></td></tr>
	{% endif %}

</table>
{% endblock%}
